.editor-scroll-ctr {
    flex: 1;
    padding-top: calc(50dvh - 24px);
    padding-bottom: calc(50dvh - 24px);
    overflow: auto;

    .editor {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 16px;
        margin: 0 auto;
        overflow: auto;

        // background-color: #ff000030;

        &,
        .overlay,
        textarea {
            width: 70ch;
        }

        @media (max-width: 700px) {
            &,
            .overlay,
            textarea {
                width: 40ch;
            }
        }

        @media (max-width: 404px) {
            &,
            .overlay,
            textarea {
                width: 35ch;
            }
        }

        .overlay,
        textarea {
            line-height: 48px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            white-space: pre-wrap;
            word-wrap: break-word;
            pointer-events: none;
            color: var(--muted);
            z-index: 1;

            span {
                color: var(--color);
            }
        }

        .textarea-wrapper {
            textarea {
                position: relative;
                font-family: inherit;
                font-size: inherit;
                background: none;
                color: transparent;
                resize: none;
                outline: none;
                border: none;
                padding: 0;
                white-space: pre-wrap;
                // caret-color: var(--color);
                caret-color: red;
                overflow: hidden;
                z-index: 2;
            }

            .caret {
                position: absolute;
                width: 2px;
                height: 1.2em;
                background-color: black;
                animation: blink 1s steps(1) infinite;
                pointer-events: none; // So it doesn’t interfere with text selection
            }
        }

        @keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

.bar {
    position: fixed;
    width: 100vw;
    height: 2px;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
