.statusbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 250ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1ch;
    width: 100%;
    max-width: 60ch;
    padding: 1rem 0;
    background-color: var(--background-color);
    box-shadow: 0 0 2rem 3rem var(--background-color);
    z-index: 10;

    @media (max-width: 404px) {
        flex-direction: column;
    }

    &.open {
        transform: translateX(calc(-50% + 150px));
    }

    .item {
        text-align: center;
        color: var(--muted);
        font-size: 11px;

        &.hide {
            display: none;
        }

        span {
            color: var(--muted);
            display: inline-block;
            min-width: 9ch;
            text-align: left;
        }
    }
}
