.sidebar {
    height: 100dvh;
    width: 0px;
    transition: width 250ms ease-in-out;
    background-color: #f9f9f9;
    overflow: hidden;

    &.open {
        width: 300px;
    }

    .btn {
        cursor: pointer;
        position: fixed;
        top: 8px;
        left: 8px;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            .icon {
                border-color: var(--muted-dark);

                &::after {
                    background-color: var(--muted-dark);
                }
            }
        }

        .icon {
            position: relative;
            border: solid 2px var(--muted);
            height: 22px;
            width: 22px;
            border-radius: 4px;

            &::after {
                content: '';
                position: absolute;
                left: 6px;
                top: 0px;
                height: 100%;
                width: 2px;
                background-color: var(--muted);
            }
        }
    }

    .items {
        margin-top: 44px;
        color: var(--color-light);

        .item {
            padding: 1rem;
        }
    }
}
