.sidebar {
    height: 100dvh;
    width: 0px;
    transition: width 250ms ease-in-out;
    box-shadow: 2px 0px 0px 0px var(--container-color);
    overflow: hidden;

    &.open {
        width: 300px;

        .items {
            opacity: 1;
        }
    }

    .btn {
        cursor: pointer;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            .icon {
                border-color: var(--muted-dark);

                &::after {
                    background-color: var(--muted-dark);
                }
            }
        }

        .icon {
            position: relative;
            border: solid 2px var(--muted);
            height: 22px;
            width: 22px;
            border-radius: 4px;
            background-color: var(--background-color);

            &::after {
                content: '';
                position: absolute;
                left: 6px;
                top: 0px;
                height: 100%;
                width: 2px;
                background-color: var(--muted);
            }
        }
    }

    .items {
        opacity: 0;
        margin-top: 44px;
        color: var(--color-light);
        transition: opacity 150ms ease-in-out 100ms;

        .item {
            padding: 1rem;
        }
    }
}
