:root {
    --font-family: monospace;
    --color: black;
    --background-color: white;

    font-family: var(--font-family);
    color: var(--color);
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}

body {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // min-height: 100dvh;
    // width: 100vw;
    // padding: 4em 0;
    // margin: 0;
    // overflow-y: auto;

    margin: 0;
    /* Keep the text input line vertically centered */

    // scroll-padding-top: calc(50dvh);
    // scroll-padding-bottom: calc(50dvh);

    padding-top: calc(50dvh - 24px);
    padding-bottom: calc(50dvh - 24px);
}
